body {
    margin:0;
    padding:0;
    background-color: #222;
    color:white;
}

li {
    list-style: none;
    margin:0;
    padding:0;
}

li div {
    display: inline-block;
}

li img {
    border-radius:50%;
    float:left;
    width:20%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ul {
    margin:0;
    padding:0;
}

aside {
    margin:0;
    width:25%;
    padding:0;
    color:white;
    border:solid gray 3px;
}

.user {
    height: 75px;
    position: relative;
}

.about {
    padding:0;
    float:left;
    margin: 0;
    margin-left:55px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}